<div *ngIf="isUserDataLoaded" class="user-profile">

  <h1>Profile</h1>
  <div style="text-align: right;">
    <button (click)="openEditDialog()" color="primary" mat-flat-button>Edit info</button>
  </div>

  <div class="row" style="padding-top: 2rem;">
    <div class="col">
      <img [src]="previewImageUrl||formatImage(userProfileImage)
        ||'https://th.bing.com/th/id/OIP.10eUaR89ccjlncXQx2Hu-gAAAA?pid=ImgDet&w=300&h=300&rs=1'" alt="user-image"
           class="profile-image">
      <input #fileInput (change)="onFileSelected($event)" style="display: none;" type="file">
      <button (click)="fileInput.click()" mat-button>Pick file</button>
      <button (click)="onUpload()" *ngIf="selectedFile" mat-button>Upload</button>
    </div>
    <div class="col" style="text-align: left;">
      <h2>{{user.username}}</h2>
      <h3 style="font-style: italic;">{{user.firstName}} {{user.lastName}}</h3>
      <p>{{user.bio}}</p>
    </div>
    <mat-divider style="margin: 2rem 0;"></mat-divider>
    <router-outlet></router-outlet>
  </div>
</div>
