<div *ngIf="isPostsLoaded&&isUserLoaded" class="index-page">
  <mat-card *ngFor="let post of posts; let i = index" class="post-card">
    <mat-card-header style="text-align: left">
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.location}}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="formatImage(post.image)" alt="post image" mat-card-image>
    <mat-card-subtitle align="start">Posted by {{post.username}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{post.description}}</p>
    </mat-card-content>

    <mat-card-actions align="start">

      <button (click)="likePost(post.id, i)" *ngIf="isUserLoaded"
              [ngClass]="post.likedUsers.indexOf(user.username) !==-1? 'is-liked':'not-liked'" mat-button>
        <mat-icon>favorite</mat-icon>
        Like
      </button>
    </mat-card-actions>

    <div style="text-align: left">
      <p *ngFor="let comment of post.comments">
        <span style="font-weight: 500">{{comment.username}}</span>: {{comment.message}}</p>
    </div>

    <mat-form-field class="w-100">
      <mat-label>Leave a comment...</mat-label>
      <input #message (keyup.enter)="postComment($event.target.value, post.id, i)" matInput maxlength="128">
      <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
    </mat-form-field>
  </mat-card>
</div>
